{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Conta" %}{% endblock %}

{% block content %}
    <h1>{% trans "Endereço de e-mail" %}</h1>
{% if user.emailaddress_set.all %}
<p>{% trans 'Os seguintes endereços de e-mail estão associados à sua conta:' %}</p>

<form action="{% url 'account_email' %}" class="email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in user.emailaddress_set.all %}
<div class="ctrlHolder">
      <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

      <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

{{ emailaddress.email }}
    {% if emailaddress.verified %}
    <span class="verified">{% trans "Verificada" %}</span>
    {% else %}
    <span class="unverified">{% trans "Não verificado" %}</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="primary">{% trans "Primária" %}</span>{% endif %}
</label>
</div>
  {% endfor %}

<div class="buttonHolder">
      <button class="secondaryAction" type="submit" name="action_primary" >{% trans 'Tornar primário' %}</button>
      <button class="secondaryAction" type="submit" name="action_send" >{% trans 'Reenviar verificação' %}</button>
      <button class="primaryAction" type="submit" name="action_remove" >{% trans 'Remover' %}</button>
</div>

</fieldset>
</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "No momento, você não tem nenhum endereço de e-mail configurado. Você realmente deve adicionar um endereço de e-mail para receber notificações, redefinir sua senha etc." %}</p>

{% endif %}


    <h2>{% trans "Adicionar endereço de e-mail" %}</h2>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="action_add" type="submit">{% trans "Adicionar e-mail" %}</button>
    </form>

{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}