{% extends "account/base.html" %}
{% load static i18n %}
{% load i18n %}
{% load account socialaccount %}


{% block head_title %}{% trans "Entrar" %}{% endblock %}
{% block content %}

    <h1>{% trans "Entrar" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Por favor, entre com um
            de suas contas de terceiros existentes. Or, <a href="{{ signup_url }}">inscrever-se</a>
            for a {{ site_name }} conta e faça login abaixo:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
        <p>{% blocktrans %}Se você ainda não criou uma conta, por favor
            <a href="{{ signup_url }}">inscrever-se</a> primeira.{% endblocktrans %}</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <a class="button secondaryAction"
           href="{% url 'account_reset_password' %}">{% trans "Esqueceu sua senha?" %}</a>
        <button class="primaryAction" type="submit">{% trans "Entrar" %}</button>
    </form>

{% endblock %}