{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Inscrever-se" %}{% endblock %}

{% block content %}
<h1>{% trans "Inscrever-se" %}</h1>

<p>{% blocktrans %}Já tem uma conta? Então por favor <a href="{{ login_url }}">entrar</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Inscrever-se" %} &raquo;</button>
</form>

{% endblock %}